
@{
    ViewBag.Title = "Brands";
}

<div ng-controller="brandsController as brandsCtlr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" name="brandsCtlr.form" class="" style="">
                            <div class="form-group">
                            <h3>Brand Name</h3>
                                <input type="text"
                                       placeholder="Brand Name"
                                       name="brandName"
                                       ng-model="brandsCtlr.brandName"
                                       required />
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="brandsCtlr.form.brandName.$touched && brandsCtlr.form.brandName.$error.required">
                                        This field is required.
                                    </span>
                                </div></div>
                            <div class="form-group">
                                <h3>Brand Description</h3>
                                <textarea
                                       name="brandDesc"
                                       ng-model="brandsCtlr.brandDesc"></textarea>
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="brandsCtlr.form.brandDesc.$touched && brandsCtlr.form.brandDesc.$error.required">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="button" ngf-select ng-model="brandsCtlr.form.file" name="image" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                     ngf-resize="{width: 100, height: 100}">Select</div>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn" placeholder="Submit" ng-click="brandsCtlr.submit()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

