
@{
    ViewBag.Title = "Brands";
}


<div ng-controller="brandsController as brandsCtlr">
    <div class="col-sm-12">
        <div ng-repeat="brand in brandsCtlr.brandList">
            <div class="col-sm-6 col-sm-offset-0">
                <a class="brand-link" href="Brands/{{brand.id}}">
                    <img ng-src="{{brand.imageURL}}" style="width: 100%" />
                    <p class="brand-link" ng-bind="brand.name"></p>
                </a>
            </div>
        </div>
    </div>
</div>
