
@{
    ViewBag.Title = "Brands";
}


<div ng-controller="brandsController as brandsCtlr" class="brands-page">
    <div class="cf masonry-ctr" masonry="brandsCtlr.masonryOptions" preserve-order load-images="true">
        <div class="grid-sizer"></div>
        <div ng-repeat="brand in brandsCtlr.brandList" class="col-sm-6 col-sm-offset-0 grid-item masonry-brick">
            <a class="brand-link" href="Brands/{{brand.id}}">
                <img ng-src="{{brand.imageURL}}" style="width: 100%" />
                <p class="brand-link" ng-bind="brand.name"></p>
            </a>
        </div>
    </div>
</div>
