@{
    ViewBag.Title = "About";
}

<p>
    Occupying 4100 square feet in the historic Cooper Design Space, our showroom represents contemporary brands offering value and retail performance.
    We are a one stop shopping destination for better retailers worldwide.
</p>
