@{
    ViewBag.Title = "Contact";
}

<div class="col-lg-6">
    <p>Rocking the west coast with style and sexy attitude.</p>
    <p>Occupying 4100 square feet in the historic Cooper Design Space, our showroom represents contemporary brands offering value and retail performance. We are a one stop shopping destination for better retailers worldwide.</p>
</div>