/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


body {
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

@font-face {
    font-family: 'futura-medium';
    src: url('../fonts/futura-medium.ttf') format('truetype');
}

.nav li a {
    font-family: futura-medium;
    font-size: 1.5em;
}

i {
    font-size: 1.5em;
    color: #1a1a1a;
}

.contact-text, .about-text, .brand-text {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    color: #404040;
}

.contact-link {
    text-decoration: underline;
}


.slickImage {
        max-height: 500px;
    }

@media (max-width: 480px) {
    .slickImage {
        max-height: 190px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slickImage {
        max-height: 350px;
    }
}

.contact-name {
    color: #404040;
    font-size: 1.7em;
}


@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.ttf') format('truetype');
}

@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.woff') format('woff');
}

footer {
    margin-top: 35px;
    font-family: futura-medium;
    /*color: #959595;*/
}

/* Footer displays mobile vs desktop */

@media (max-width: 767px) {
    .footer-desktop {
        display: none !important;
    }

    .footer-mobile {
        display: initial !important;
    }

    .mobile-hide {
        display: none;
    }
}

@media (min-width: 768px) {

    .footer-mobile {
        display: none !important;
    }
}



/* ================================================================ */
/* --- Brands Page */
/* ================================================================ */
.brands-page .grid-sizer {
    width: 50%;
}

.brands-page .brand-link {
    font-family: futura-medium;
    font-size: 1.5em;

    display: block;
}

.brand-title {
    font-family: futura-medium;
    font-size: 2.5em;
    color: #404040;
    margin-top: .5em;
}

@media (max-width: 767px) {

    .brands-page .masonry-brick {
        position: static !important;
    }
}