@{
    ViewBag.Title = "Contact";
}

<div class="col-sm-10 col-sm-offset-1 contact-text text-center">
    <p>
        Located in the historic Cooper Design Space, our showroom represents contemporary brands offering value and retail performance. We are a one stop shopping destination for better retailers worldwide.
    <br />For any questions, details, or requests, <strong><a href="mailto:info@cristinaangarola.com" class="contact-link">email us</a></strong>.
    </p>
</div>